<div class="mt-4">
  <form method="post" action="/search/result">
    <div class="form-group">
      <label for="search-input">Enter keyword</label>
      <input type="text" name="q" class="form-control" id="exampleInputEmail1" placeholder="What do you want?">
      <small id="emailHelp" class="form-text text-muted">Enter something to search</small>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>